#linechart {
  fill: #78a4fa;
  font-size: 9px;
}
#linechart path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
#linechart .axis path,
#linechart .axis line {
  fill: none;
  stroke: #6e3cb0;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
#barchart {
  font-size: 7px;
}
