html body {
  font-family: 'Roboto', sans-serif;
  /*background: #28156D; */
  background: url("/img/background.jpg") repeat-x;
  /* Gradient

       #331189
       #775aad

    */
  margin: 0;
  padding: 0;
  /* Main Container */
  /* Login Page */
  /* Header */
  /* Navigation */
}
html body .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
html body .login-page {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
html body .login-page .logo-container {
  padding: 20px;
  background: #200158 /*#2D1074*/;
  width: 450px;
  margin-left: -50px;
  border-left: solid 1px #5A3796;
  border-right: solid 1px #5A3796;
  border-top: solid 1px #5A3796;
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
}
html body .login-page .logo-container .logo {
  margin-left: 0px;
}
html body .login-page .form {
  background: #200158;
  width: 450px;
  padding: 20px;
  margin-left: -50px;
  /* background: #241040; */
  background: #6c2e9e;
  background: -moz-radial-gradient(center, ellipse cover, #6c2e9e 0%, #351a5c 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #6c2e9e), color-stop(100%, #351a5c));
  background: -webkit-radial-gradient(center, ellipse cover, #6c2e9e 0%, #351a5c 100%);
  background: -o-radial-gradient(center, ellipse cover, #6c2e9e 0%, #351a5c 100%);
  background: -ms-radial-gradient(center, ellipse cover, #6c2e9e 0%, #351a5c 100%);
  background: radial-gradient(ellipse at center, #6c2e9e 0%, #351a5c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c2e9e', endColorstr='#351a5c', GradientType=1);
  -webkit-box-shadow: 4px 5px 19px -6px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 4px 5px 19px -6px rgba(0, 0, 0, 0.31);
  box-shadow: 4px 5px 19px -6px rgba(0, 0, 0, 0.31);
  border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  border-top: solid 1px #F85269;
  border-left: solid 1px #5A3796;
  border-right: solid 1px #5A3796;
  border-bottom: solid 1px #5A3796;
}
html body .login-page .form .btn-primary {
  background-color: #F85269;
  border-color: #e04159;
}
html body .login-page .form label {
  color: #fff;
}
html body #header-section {
  background: #200158;
  height: 75px;
  width: 100%;
}
html body #header-section #header-page .logo-holder {
  margin: 17px 0 0 20px;
  position: absolute;
}
html body #header-section #header-page .logo-holder .logo {
  width: 300px;
}
html body #leftNav-section {
  float: left;
  width: 220px;
  border-right: 1px solid red;
}
