html body {
  font-family: 'Droid Sans', sans-serif;
  background: url("/img/background3.png") repeat-x;
  /* Gradient

       #331189
       #775aad

    */
  margin: 0;
  padding: 0;
  /* Main Container */
  /* LOGIN PAGE */
  /* HEADER */
  /* LEFT NAVIGATION */
  /* RIGHT NAVIGATION */
  /* CREATE DASHBOARD */
  /* SEGMENT DASHBOARDS */
  /* CUSTOMER SERVICE */
}
html body .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
html body .login-page {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
html body .login-page .logo-container {
  padding: 20px;
  background: #200158 /*#2D1074*/;
  width: 450px;
  margin-left: -50px;
  border-left: solid 1px #5A3796;
  border-right: solid 1px #5A3796;
  border-top: solid 1px #5A3796;
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
}
html body .login-page .logo-container .logo {
  margin-left: 0px;
}
html body .login-page .form {
  background: #200158;
  width: 450px;
  padding: 20px;
  margin-left: -50px;
  /* background: #241040; */
  background: #6c2e9e;
  background: -moz-radial-gradient(center, ellipse cover, #6c2e9e 0%, #351a5c 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #6c2e9e), color-stop(100%, #351a5c));
  background: -webkit-radial-gradient(center, ellipse cover, #6c2e9e 0%, #351a5c 100%);
  background: -o-radial-gradient(center, ellipse cover, #6c2e9e 0%, #351a5c 100%);
  background: -ms-radial-gradient(center, ellipse cover, #6c2e9e 0%, #351a5c 100%);
  background: radial-gradient(ellipse at center, #6c2e9e 0%, #351a5c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c2e9e', endColorstr='#351a5c', GradientType=1);
  -webkit-box-shadow: 4px 5px 19px -6px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 4px 5px 19px -6px rgba(0, 0, 0, 0.31);
  box-shadow: 4px 5px 19px -6px rgba(0, 0, 0, 0.31);
  border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  border-top: solid 1px #F85269;
  border-left: solid 1px #5A3796;
  border-right: solid 1px #5A3796;
  border-bottom: solid 1px #5A3796;
}
html body .login-page .form .btn-primary {
  background-color: #F85269;
  border-color: #e04159;
}
html body .login-page .form label {
  color: #fff;
}
html body #header-section {
  background: #300580;
  background: -moz-linear-gradient(top, #300580 0%, #1f0158 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #300580), color-stop(100%, #1f0158));
  background: -webkit-linear-gradient(top, #300580 0%, #1f0158 100%);
  background: -o-linear-gradient(top, #300580 0%, #1f0158 100%);
  background: -ms-linear-gradient(top, #300580 0%, #1f0158 100%);
  background: linear-gradient(to bottom, #300580 0%, #1f0158 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#300580', endColorstr='#1f0158', GradientType=0);
  /*
      background: rgba(66,24,150,1);
      background: -moz-radial-gradient(center, ellipse cover, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(66,24,150,1)), color-stop(100%, rgba(32,1,88,1)));
      background: -webkit-radial-gradient(center, ellipse cover, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -o-radial-gradient(center, ellipse cover, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -ms-radial-gradient(center, ellipse cover, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: radial-gradient(ellipse at center, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#421896', endColorstr='#200158', GradientType=1 );
      */
  /*
      background: rgba(66,24,150,1);
      background: -moz-linear-gradient(top, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,24,150,1)), color-stop(100%, rgba(32,1,88,1)));
      background: -webkit-linear-gradient(top, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -o-linear-gradient(top, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -ms-linear-gradient(top, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: linear-gradient(to bottom, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#421896', endColorstr='#200158', GradientType=0 );
      */
  height: 75px;
  width: 100%;
  border-bottom: 1px solid #3d1396;
}
html body #header-section #header-page .logo-holder {
  margin: 17px 0 0 20px;
  position: absolute;
}
html body #header-section #header-page .logo-holder .logo {
  width: 300px;
}
html body #header-section #header-page .nav-container {
  float: right;
  height: 100%;
}
html body #header-section #header-page .nav-container ul li {
  float: right;
  list-style: none;
  border-left: 1px solid #3d1396;
  height: 75px;
  width: 73px;
}
html body #header-section #header-page .nav-container ul li [class^="icon-"]:before,
html body #header-section #header-page .nav-container ul li [class*=" icon-"]:before {
  width: 100%;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 3em;
  margin-left: 0;
  font-size: 23px;
  vertical-align: -4px;
  color: #78a4fa;
  height: 73px;
  margin-right: 0;
}
html body #leftNav-section {
  float: left;
  width: 220px;
  border-right: 1px solid #3d1396;
  /*
      background: rgba(32,1,88,1);
      background: -moz-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32,1,88,1)), color-stop(100%, rgba(66,24,150,1)));
      background: -webkit-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -o-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -ms-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: linear-gradient(to bottom, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#200158', endColorstr='#421896', GradientType=0 );
      */
  background: #23075c;
  background: -moz-linear-gradient(top, #23075c 0%, #160538 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #23075c), color-stop(100%, #160538));
  background: -webkit-linear-gradient(top, #23075c 0%, #160538 100%);
  background: -o-linear-gradient(top, #23075c 0%, #160538 100%);
  background: -ms-linear-gradient(top, #23075c 0%, #160538 100%);
  background: linear-gradient(to bottom, #23075c 0%, #160538 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23075c', endColorstr='#160538', GradientType=0);
}
html body #leftNav-section .leftNavigationPage ul {
  margin-top: 10px;
  padding-left: 10px;
}
html body #leftNav-section .leftNavigationPage ul li {
  font-size: 13px;
  text-transform: uppercase;
  list-style: none;
  color: #78a4fa;
  padding: 10px;
}
html body #leftNav-section .leftNavigationPage ul li [class^="icon-"]:before,
html body #leftNav-section .leftNavigationPage ul li [class*=" icon-"]:before {
  width: 30px;
  margin-right: 10px;
  text-align: left;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0;
  font-size: 23px;
  vertical-align: -4px;
  color: #e04159;
}
html body #leftNav-section .leftNavigationPage ul li a {
  color: #78a4fa;
}
html body #leftNav-section .leftNavigationPage ul li a:hover {
  color: #fff;
}
html body #rightNav-section {
  position: fixed;
  right: 0px;
  width: 220px;
  border-left: 1px solid #3d1396;
  /*
      background: rgba(32,1,88,1);
      background: -moz-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32,1,88,1)), color-stop(100%, rgba(66,24,150,1)));
      background: -webkit-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -o-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -ms-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: linear-gradient(to bottom, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#200158', endColorstr='#421896', GradientType=0 );
      */
  background: #23075c;
  background: -moz-linear-gradient(top, #23075c 0%, #160538 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #23075c), color-stop(100%, #160538));
  background: -webkit-linear-gradient(top, #23075c 0%, #160538 100%);
  background: -o-linear-gradient(top, #23075c 0%, #160538 100%);
  background: -ms-linear-gradient(top, #23075c 0%, #160538 100%);
  background: linear-gradient(to bottom, #23075c 0%, #160538 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23075c', endColorstr='#160538', GradientType=0);
  /* BOOKMARKS */
}
html body #rightNav-section .bookmarksNav .bookmarks h5 {
  margin-top: 20px;
  text-align: center;
  color: #78a4fa;
}
html body #rightNav-section .bookmarksNav .bookmarks .date-dropdown {
  text-align: center;
  z-index: 500;
}
html body #rightNav-section .bookmarksNav .bookmarks .date-dropdown li {
  text-align: left;
}
html body #rightNav-section .bookmarksNav .bookmarks ul {
  margin-top: 10px;
  padding-left: 10px;
}
html body #rightNav-section .bookmarksNav .bookmarks ul li.source-icons {
  border: 1px solid #3d1396;
  border-radius: 50px;
  width: 45px;
  list-style: none;
  color: #78a4fa;
  float: left;
  margin: 10px;
}
html body #rightNav-section .bookmarksNav .bookmarks ul li.source-icons [class^="icon-"]:before,
html body #rightNav-section .bookmarksNav .bookmarks ul li.source-icons [class*=" icon-"]:before {
  width: 45px;
  text-align: left;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin: 10px;
  font-size: 23px;
  vertical-align: -4px;
  color: #78a4fa;
}
html body #rightNav-section .bookmarksNav .bookmarks .button-save-holder {
  text-align: center;
  margin-top: 20px;
  float: left;
  width: 100%;
}
html body #create-dashboard-section {
  margin-left: 293px;
  margin-top: 10px;
  position: absolute;
  width: calc(100% - 600px);
}
html body #create-dashboard-section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #78a4fa;
}
html body #create-dashboard-section .segment-fields {
  margin-bottom: 20px;
}
html body #create-dashboard-section .segment-fields input[type=text] {
  background: #23075c;
  border: 1px solid #3d1396;
  color: #78a4fa;
}
html body #create-dashboard-section .segment-fields input[type=text]::-webkit-input-placeholder {
  color: #5d2ad4;
}
html body #create-dashboard-section .segment-fields input[type=text]:-moz-placeholder {
  color: #5d2ad4;
}
html body #create-dashboard-section .segment-fields input[type=text]::-moz-placeholder {
  color: #5d2ad4;
}
html body #create-dashboard-section .segment-fields input[type=text]:-ms-input-placeholder {
  color: #5d2ad4;
}
html body #create-dashboard-section .segment-fields textarea::-webkit-input-placeholder {
  color: #5d2ad4;
}
html body #create-dashboard-section .segment-fields textarea:-moz-placeholder {
  color: #5d2ad4;
}
html body #create-dashboard-section .segment-fields textarea::-moz-placeholder {
  color: #5d2ad4;
}
html body #create-dashboard-section .segment-fields textarea:-ms-input-placeholder {
  color: #5d2ad4;
}
html body #create-dashboard-section .segment-fields textarea {
  background: #23075c;
  border: 1px solid #3d1396;
  color: #78a4fa;
}
html body #create-dashboard-section #signup-container {
  width: 100%;
  height: auto;
  position: absolute;
  text-align: justify;
}
html body #create-dashboard-section #signup-container .stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
html body #create-dashboard-section #signup-container .signups {
  display: inline-block;
  zoom: 1;
  color: #2A1C6E;
  width: 280px;
  height: 370px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #3d1396;
  -webkit-box-shadow: 0px 0px 114px -25px #7d38eb;
  -moz-box-shadow: 0px 0px 114px -25px #7d38eb;
  box-shadow: 0px 0px 114px -25px #7d38eb;
  /*
          background: rgba(73,155,234,1);
          background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(31,106,186,1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(31,106,186,1)));
          background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(31,106,186,1) 100%);
          background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(31,106,186,1) 100%);
          background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(31,106,186,1) 100%);
          background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(31,106,186,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1f6aba', GradientType=0 );
          */
  background: #19003C;
}
html body #create-dashboard-section #signup-container .signups .icon-holder {
  width: 100%;
  height: 100px;
}
html body #create-dashboard-section #signup-container .signups .icon-holder .signup-icon {
  width: 100px;
  height: 100px;
  margin: 25px auto;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 4px solid #e04159;
}
html body #create-dashboard-section #signup-container .signups .icon-holder .signup-icon [class^="icon-"]:before,
html body #create-dashboard-section #signup-container .signups .icon-holder .signup-icon [class*=" icon-"]:before {
  line-height: 1em;
  margin: 21px;
  font-size: 50px;
  color: #e04159;
}
html body #create-dashboard-section #signup-container .signups h3.title {
  text-align: center;
  color: #78a4fa;
}
html body #create-dashboard-section #signup-container .signups p.description {
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  line-height: 16px;
  color: #78a4fa;
  height: 50px;
}
html body #create-dashboard-section #signup-container .signups .background-holder {
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-top: 39px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
}
html body #create-dashboard-section #signup-container .signups #innovation-signup {
  background: url(/img/innovation-bg.png) -45px -20px no-repeat;
}
html body #create-dashboard-section #signup-container .signups #marketing-signup {
  background: url(/img/marketing-bg.png) -55px 0px no-repeat;
}
html body #create-dashboard-section #signup-container .signups #customer-service-signup {
  background: url(/img/customer-service-bg.png  ) -25px 0px no-repeat;
}
html body #home-section {
  margin-left: 293px;
  margin-top: 10px;
  position: absolute;
  width: calc(100% - 600px);
}
html body #home-section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #78a4fa;
}
html body #home-section .segment-fields {
  margin-bottom: 20px;
}
html body #home-section .segment-fields input[type=text] {
  background: #23075c;
  border: 1px solid #3d1396;
  color: #78a4fa;
}
html body #home-section .segment-fields input[type=text]::-webkit-input-placeholder {
  color: #5d2ad4;
}
html body #home-section .segment-fields input[type=text]:-moz-placeholder {
  color: #5d2ad4;
}
html body #home-section .segment-fields input[type=text]::-moz-placeholder {
  color: #5d2ad4;
}
html body #home-section .segment-fields input[type=text]:-ms-input-placeholder {
  color: #5d2ad4;
}
html body #home-section .segment-fields textarea::-webkit-input-placeholder {
  color: #5d2ad4;
}
html body #home-section .segment-fields textarea:-moz-placeholder {
  color: #5d2ad4;
}
html body #home-section .segment-fields textarea::-moz-placeholder {
  color: #5d2ad4;
}
html body #home-section .segment-fields textarea:-ms-input-placeholder {
  color: #5d2ad4;
}
html body #home-section .segment-fields textarea {
  background: #23075c;
  border: 1px solid #3d1396;
  color: #78a4fa;
}
html body #home-section #segment-container {
  width: 100%;
  height: auto;
  position: absolute;
  text-align: justify;
}
html body #home-section #segment-container .stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
html body #home-section #segment-container .segments {
  border: 1px solid #3d1396;
  display: inline-block;
  zoom: 1;
  color: #2A1C6E;
  background: #fff;
  width: 320px;
  height: 370px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px none #000000;
  -webkit-box-shadow: 0px 0px 114px -25px #7d38eb;
  -moz-box-shadow: 0px 0px 114px -25px #7d38eb;
  box-shadow: 0px 0px 114px -25px #7d38eb;
}
html body #home-section #segment-container .segments .segment-border {
  width: 100%;
  height: 320px;
  background: #170D43;
  border: 1px solid #3d1396;
  -webkit-box-shadow: 0px 29px 57px -30px #000000;
  -moz-box-shadow: 0px 29px 57px -30px #000000;
  box-shadow: 0px 29px 57px -30px #000000;
}
html body #home-section #segment-container .segments .segment-header {
  background: #200158;
  height: 40px;
  padding: 0;
  text-align: center;
  color: #78a4fa;
  line-height: 43px;
  text-transform: uppercase;
  font-size: 13px;
}
html body #home-section #segment-container .segments .segment-header .help {
  border: 1px solid #3d1396;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  list-style: none;
  color: #78a4fa;
  float: left;
  margin: 8px 10px 10px 10px;
  position: absolute;
}
html body #home-section #segment-container .segments .segment-header .help [class^="icon-"]:before,
html body #home-section #segment-container .segments .segment-header .help [class*=" icon-"]:before {
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  font-size: 12px;
  vertical-align: 10px;
  color: #78a4fa;
}
html body #home-section #segment-container .segments .segment-header .title {
  text-align: center;
}
html body #home-section #segment-container .segments .segment-preborder {
  width: 100%;
  height: 20px;
  background: #170D43;
}
html body #home-section #segment-container .segments .segment-visual-container {
  height: 238px;
  border-top: 1px solid #e04159;
  width: 280px;
  margin: 0 auto;
  overflow: hidden;
  background: #68369e;
  background: -moz-linear-gradient(top, #68369e 0%, #241445 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #68369e), color-stop(100%, #241445));
  background: -webkit-linear-gradient(top, #68369e 0%, #241445 100%);
  background: -o-linear-gradient(top, #68369e 0%, #241445 100%);
  background: -ms-linear-gradient(top, #68369e 0%, #241445 100%);
  background: linear-gradient(to bottom, #68369e 0%, #241445 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68369e', endColorstr='#241445', GradientType=0);
  -webkit-box-shadow: 0px -34px 0px -28px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px -34px 0px -28px rgba(255, 255, 255, 0.2);
  box-shadow: 0px -34px 0px -28px rgba(255, 255, 255, 0.2);
}
html body #home-section #segment-container .segments .footer {
  margin: 20px 0 0 0px;
  height: 40px;
}
html body #home-section #segment-container .segments .footer .datetime {
  margin: 14px 0 0 5px;
  float: left;
}
html body #home-section #segment-container .segments .footer .datetime [class^="icon-"]:before,
html body #home-section #segment-container .segments .footer .datetime [class*=" icon-"]:before {
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  font-size: 16px;
  color: #F85269;
}
html body #home-section #segment-container .segments .footer .datetime div {
  margin: -18px 0 0 25px;
  font-size: 11px;
  color: #F85269;
}
html body #customer-service-section {
  margin-left: 217px;
  margin-top: 10px;
  position: absolute;
  width: calc(100% - 435px);
  /* customize scrollbar css */
}
html body #customer-service-section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #78a4fa;
}
html body #customer-service-section .complaint-stream-header-container {
  margin-top: 0px;
  width: calc(100% - 8px);
}
html body #customer-service-section .complaint-stream-header-container .complaint-stream-header {
  background: #ddd;
  width: 900px;
  margin: 0 auto;
  padding: 0;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border: 0px solid #000000;
}
html body #customer-service-section .complaint-stream-header-container .complaint-stream-header li {
  list-style: none;
  float: left;
  text-align: center;
  font-weight: bold;
  padding-top: 9px;
  color: #407ded;
}
html body #customer-service-section .complaint-stream-header-container .complaint-stream-header li.name {
  width: 27%;
}
html body #customer-service-section .complaint-stream-header-container .complaint-stream-header li.source {
  width: 5%;
}
html body #customer-service-section .complaint-stream-header-container .complaint-stream-header li.date {
  width: 16%;
}
html body #customer-service-section .complaint-stream-header-container .complaint-stream-header li.content {
  width: 36%;
}
html body #customer-service-section .complaint-stream-header-container .complaint-stream-header li.respond {
  width: 16%;
}
html body #customer-service-section .scrollbar {
  margin: 0 auto;
  width: 960px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
html body #customer-service-section .scrollbar ul {
  margin: 0;
  padding: 0;
}
html body #customer-service-section .scrollbar .post-container {
  width: 900px;
  height: 80px;
  background: #241445;
  background: #fff;
  margin: 0 auto;
  border-bottom: 1px solid lightgrey;
  /*
          border-radius: 10px 10px 10px 10px;
          -moz-border-radius: 10px 10px 10px 10px;
          -webkit-border-radius: 10px 10px 10px 10px;
          border: 0px solid #000000;
          */
}
html body #customer-service-section .scrollbar .post-container .sentiment-holder-red {
  width: 5px;
  height: inherit;
  background: #F85269;
  float: left;
}
html body #customer-service-section .scrollbar .post-container .sentiment-holder-green {
  width: 5px;
  height: inherit;
  background: darkgreen;
  float: left;
}
html body #customer-service-section .scrollbar .post-container .pic-holder {
  width: 80px;
  height: inherit;
  float: left;
}
html body #customer-service-section .scrollbar .post-container .pic-holder .pic {
  width: 40px;
  height: 40px;
  margin: 18px 18px;
  overflow: hidden;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 1px solid #F85269;
}
html body #customer-service-section .scrollbar .post-container .pic-holder .pic img {
  width: 42px;
}
html body #customer-service-section .scrollbar .post-container .name-holder {
  float: left;
  width: 200px;
  height: inherit;
  line-height: 75px;
  font-size: 12px;
}
html body #customer-service-section .scrollbar .post-container .name-holder span {
  color: #78a4fa;
  line-height: 0px;
  margin-top: -22px;
  display: block;
}
html body #customer-service-section .scrollbar .post-container .source-holder {
  float: left;
  width: 20px;
  height: inherit;
}
html body #customer-service-section .scrollbar .post-container .source-holder [class^="icon-"]:before,
html body #customer-service-section .scrollbar .post-container .source-holder [class*=" icon-"]:before {
  width: 100%;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 3.3em;
  margin-left: 0;
  font-size: 23px;
  color: #78a4fa;
  height: 73px;
}
html body #customer-service-section .scrollbar .post-container .date-holder {
  float: left;
  width: 170px;
  height: inherit;
  line-height: 75px;
  color: dimgrey;
  text-align: center;
  font-size: 12px;
}
html body #customer-service-section .scrollbar .post-container .text-holder {
  float: left;
  width: 300px;
  height: inherit;
  padding: 5px;
  color: dimgrey;
  font-size: 11px;
  overflow-y: auto;
  overflow-x: hidden;
}
html body #customer-service-section .scrollbar .post-container .response-holder {
  float: left;
  height: inherit;
}
html body #customer-service-section .scrollbar .post-container .response-holder a {
  margin: 20px 0 0 20px;
}
html body #customer-service-section #scrollbar-custom::-webkit-scrollbar {
  width: 10px;
  background-color: #23075c;
}
html body #customer-service-section #scrollbar-custom::-webkit-scrollbar:horizontal {
  height: 12px;
}
html body #customer-service-section #scrollbar-custom::-webkit-scrollbar-track {
  border: 1px #200158 solid;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #78a4fa inset;
}
html body #customer-service-section #scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #200158;
  border: 1px solid #4c12b8;
  border-radius: 16px;
}
html body #customer-service-section #scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #4c12b8;
  border: 1px solid #78a4fa;
}
html body #customer-service-section #scrollbar-custom::-webkit-scrollbar-thumb:active {
  background-color: #78a4fa;
  border: 1px solid #78a4fa;
}
