@import "colors.less";


html
{




  body
  {

    font-family: 'Droid Sans', sans-serif;
    //background: #330779;
    background: url("/img/background3.png") repeat-x;
    /* Gradient

       #331189
       #775aad

    */

    margin: 0;
    padding: 0;


    /* Main Container */
    .container
    {
      width: 100%;
      padding: 0;
      margin: 0;
    }


    /* LOGIN PAGE *///////////////////////////////////////////////////////////

    .login-page
    {
      margin-top: 200px;
      margin-left: auto;
      margin-right: auto;
      width: 400px;


      .logo-container
      {

        padding: 20px;
        background: @blueDark /*#2D1074*/;
        width: 450px;
        margin-left: -50px;
        border-left: solid 1px #5A3796;
        border-right: solid 1px #5A3796;
        border-top: solid 1px #5A3796;

        border-radius: 7px 7px 0px 0px;
        -moz-border-radius: 7px 7px 0px 0px;
        -webkit-border-radius: 7px 7px 0px 0px;


        .logo
        {
          margin-left: 0px;
        }
      }


      .form
      {

        background: #200158;
        width: 450px;
        padding: 20px;
        margin-left: -50px;

        /* background: #241040; */


        background: rgba(108,46,158,1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(108,46,158,1) 0%, rgba(53,26,92,1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(108,46,158,1)), color-stop(100%, rgba(53,26,92,1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(108,46,158,1) 0%, rgba(53,26,92,1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(108,46,158,1) 0%, rgba(53,26,92,1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(108,46,158,1) 0%, rgba(53,26,92,1) 100%);
        background: radial-gradient(ellipse at center, rgba(108,46,158,1) 0%, rgba(53,26,92,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c2e9e', endColorstr='#351a5c', GradientType=1 );

        -webkit-box-shadow: 4px 5px 19px -6px rgba(0,0,0,0.31);
        -moz-box-shadow: 4px 5px 19px -6px rgba(0,0,0,0.31);
        box-shadow: 4px 5px 19px -6px rgba(0,0,0,0.31);

        border-radius: 0px 0px 7px 7px;
        -moz-border-radius: 0px 0px 7px 7px;
        -webkit-border-radius: 0px 0px 7px 7px;


        border-top: solid 1px @red;
        border-left: solid 1px #5A3796;
        border-right: solid 1px #5A3796;
        border-bottom: solid 1px #5A3796;


        .btn-primary
        {
          background-color: @red;
          border-color: @redDark;
        }


        label
        {
          color: #fff;
        }
      }
    }


    /* HEADER *///////////////////////////////////////////////////////////
    #header-section
    {

      height: 75px;
      //background: @blueDark;

      background: rgba(48,5,128,1);
      background: -moz-linear-gradient(top, rgba(48,5,128,1) 0%, rgba(31,1,88,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,5,128,1)), color-stop(100%, rgba(31,1,88,1)));
      background: -webkit-linear-gradient(top, rgba(48,5,128,1) 0%, rgba(31,1,88,1) 100%);
      background: -o-linear-gradient(top, rgba(48,5,128,1) 0%, rgba(31,1,88,1) 100%);
      background: -ms-linear-gradient(top, rgba(48,5,128,1) 0%, rgba(31,1,88,1) 100%);
      background: linear-gradient(to bottom, rgba(48,5,128,1) 0%, rgba(31,1,88,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#300580', endColorstr='#1f0158', GradientType=0 );


      /*
      background: rgba(66,24,150,1);
      background: -moz-radial-gradient(center, ellipse cover, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(66,24,150,1)), color-stop(100%, rgba(32,1,88,1)));
      background: -webkit-radial-gradient(center, ellipse cover, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -o-radial-gradient(center, ellipse cover, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -ms-radial-gradient(center, ellipse cover, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: radial-gradient(ellipse at center, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#421896', endColorstr='#200158', GradientType=1 );
      */


      /*
      background: rgba(66,24,150,1);
      background: -moz-linear-gradient(top, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,24,150,1)), color-stop(100%, rgba(32,1,88,1)));
      background: -webkit-linear-gradient(top, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -o-linear-gradient(top, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: -ms-linear-gradient(top, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      background: linear-gradient(to bottom, rgba(66,24,150,1) 0%, rgba(32,1,88,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#421896', endColorstr='#200158', GradientType=0 );
      */

      height: 75px;
      width: 100%;
      border-bottom: 1px solid @lightPurple;

      #header-page
      {
        .logo-holder
        {

          margin: 17px 0 0 20px;
          position: absolute;

          .logo
          {
            width: 300px;
          }
        }

        .nav-container
        {
          float: right;
          height: 100%;

          ul
          {

            li
            {
              float: right;
              list-style: none;
              border-left: 1px solid @lightPurple;
              height: 75px;
              width: 73px;

              [class^="icon-"]:before, [class*=" icon-"]:before {
                width: 100%;
                text-align: center;
                font-variant: normal;
                text-transform: none;
                line-height: 3em;
                margin-left: 0;
                font-size: 23px;
                vertical-align: -4px;
                color: @blueLight;
                height: 73px;
                margin-right: 0;
              }


            }

          }

        }


      }
    }



    /* LEFT NAVIGATION *///////////////////////////////////////////////////////////

    #leftNav-section
    {
      float: left;
      width: 220px;
      border-right: 1px solid @lightPurple;
      //background: @blueDark;

      /*
      background: rgba(32,1,88,1);
      background: -moz-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32,1,88,1)), color-stop(100%, rgba(66,24,150,1)));
      background: -webkit-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -o-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -ms-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: linear-gradient(to bottom, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#200158', endColorstr='#421896', GradientType=0 );
      */


      background: rgba(35,7,92,1);
      background: -moz-linear-gradient(top, rgba(35,7,92,1) 0%, rgba(22,5,56,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(35,7,92,1)), color-stop(100%, rgba(22,5,56,1)));
      background: -webkit-linear-gradient(top, rgba(35,7,92,1) 0%, rgba(22,5,56,1) 100%);
      background: -o-linear-gradient(top, rgba(35,7,92,1) 0%, rgba(22,5,56,1) 100%);
      background: -ms-linear-gradient(top, rgba(35,7,92,1) 0%, rgba(22,5,56,1) 100%);
      background: linear-gradient(to bottom, rgba(35,7,92,1) 0%, rgba(22,5,56,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23075c', endColorstr='#160538', GradientType=0 );

      .leftNavigationPage
      {

        ul
        {

          margin-top: 10px;
          padding-left: 10px;

          li
          {

            [class^="icon-"]:before, [class*=" icon-"]:before {
              width: 30px;
              margin-right: 10px;
              text-align: left;
              /* opacity: .8; */
              font-variant: normal;
              text-transform: none;
              line-height: 1em;
              margin-left: 0;
              font-size: 23px;
              vertical-align: -4px;
              //text-shadow: 3px 3px 1px rgba(224, 91, 112, 0.3);
              color: @redDark;
            }

            a
            {
              color: @blueLight;
            }

            a:hover
            {
              color: #fff;
            }


            font-size: 13px;
            text-transform: uppercase;
            list-style: none;
            color: @blueLight;
            padding: 10px;
            //text-shadow: 3px 3px 1px rgba(147, 180, 250, 0.3);
          }

        }

      }
    }


    /* RIGHT NAVIGATION *///////////////////////////////////////////////////////////

    #rightNav-section
    {
      position: fixed;
      right: 0px;
      width: 220px;
      border-left: 1px solid @lightPurple;
      //background: @blueDark;

      /*
      background: rgba(32,1,88,1);
      background: -moz-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32,1,88,1)), color-stop(100%, rgba(66,24,150,1)));
      background: -webkit-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -o-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: -ms-linear-gradient(top, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      background: linear-gradient(to bottom, rgba(32,1,88,1) 0%, rgba(66,24,150,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#200158', endColorstr='#421896', GradientType=0 );
      */


      background: rgba(35,7,92,1);
      background: -moz-linear-gradient(top, rgba(35,7,92,1) 0%, rgba(22,5,56,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(35,7,92,1)), color-stop(100%, rgba(22,5,56,1)));
      background: -webkit-linear-gradient(top, rgba(35,7,92,1) 0%, rgba(22,5,56,1) 100%);
      background: -o-linear-gradient(top, rgba(35,7,92,1) 0%, rgba(22,5,56,1) 100%);
      background: -ms-linear-gradient(top, rgba(35,7,92,1) 0%, rgba(22,5,56,1) 100%);
      background: linear-gradient(to bottom, rgba(35,7,92,1) 0%, rgba(22,5,56,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23075c', endColorstr='#160538', GradientType=0 );


      /* BOOKMARKS *///////////////////////////////////////////////////////////

      .bookmarksNav
      {

        .bookmarks
        {


          h5
          {
            margin-top: 20px;
            text-align: center;
            color: @blueLight;
          }

          .date-dropdown
          {
            text-align: center;
            z-index: 500;

            li
            {
              text-align: left;
            }

          }



          ul
          {

            margin-top: 10px;
            padding-left: 10px;

            li.source-icons
            {



              border: 1px solid @lightPurple;
              border-radius: 50px;
              width: 45px;
              list-style: none;
              color: @blueLight;
              float: left;
              margin: 10px;


              [class^="icon-"]:before, [class*=" icon-"]:before {
                width: 45px;
                text-align: left;
                /* opacity: .8; */
                font-variant: normal;
                text-transform: none;
                line-height: 1em;
                margin: 10px;
                font-size: 23px;
                vertical-align: -4px;
                //text-shadow: 3px 3px 1px rgba(224, 91, 112, 0.3);
                color: #78a4fa;
              }

              //text-shadow: 3px 3px 1px rgba(147, 180, 250, 0.3);
            }

          }

          .button-save-holder
          {
            text-align: center;
            margin-top: 20px;
            float: left;
            width: 100%;
          }

        }

      }

    }


    /* CREATE DASHBOARD *///////////////////////////////////////////////////////////

    #create-dashboard-section
    {
      margin-left: 293px;
      margin-top: 10px;
      position: absolute;
      width: calc(~'100% - 600px');

      h2
      {
        text-align: center;
        margin-bottom: 30px;
        color: @blueLight;
      }


      .segment-fields
      {

        margin-bottom: 20px;


        input[type=text]
        {

          background: @darkPurple;
          border: 1px solid @lightPurple;
          color: @blueLight;

        }



        input[type=text]::-webkit-input-placeholder
        {
          color:    #5d2ad4;
        }


        input[type=text]:-moz-placeholder
        {
          color:    #5d2ad4;
        }


        input[type=text]::-moz-placeholder
        {
          color:    #5d2ad4;
        }


        input[type=text]:-ms-input-placeholder
        {
          color:    #5d2ad4;
        }





        textarea::-webkit-input-placeholder
        {
          color:    #5d2ad4;
        }


        textarea:-moz-placeholder
        {
          color:    #5d2ad4;
        }


        textarea::-moz-placeholder
        {
          color:    #5d2ad4;
        }


        textarea:-ms-input-placeholder
        {
          color:    #5d2ad4;
        }




        textarea
        {
          background: @darkPurple;
          border: 1px solid @lightPurple;
          color: @blueLight;
        }
      }


      #signup-container
      {
        width: 100%;
        height: auto;
        position: absolute;
        text-align: justify;

        .stretch
        {
          width: 100%;
          display: inline-block;
          font-size: 0;
          line-height: 0;
        }


        .signups
        {

          border: 1px solid @lightPurple;
          display: inline-block;
          zoom: 1;
          color: #2A1C6E;
          width: 280px;
          height: 370px;

          border-radius: 10px 10px 10px 10px;
          -moz-border-radius: 10px 10px 10px 10px;
          -webkit-border-radius: 10px 10px 10px 10px;

          border: 1px solid @lightPurple;


          -webkit-box-shadow: 0px 0px 114px -25px rgba(125,56,235,1);
          -moz-box-shadow: 0px 0px 114px -25px rgba(125,56,235,1);
          box-shadow: 0px 0px 114px -25px rgba(125,56,235,1);

          /*
          background: rgba(73,155,234,1);
          background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(31,106,186,1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(31,106,186,1)));
          background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(31,106,186,1) 100%);
          background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(31,106,186,1) 100%);
          background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(31,106,186,1) 100%);
          background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(31,106,186,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1f6aba', GradientType=0 );
          */

          background: #19003C;

          .icon-holder
          {
            width: 100%;
            height: 100px;

            .signup-icon
            {
              width: 100px;
              height: 100px;
              margin: 25px auto;

              border-radius: 200px 200px 200px 200px;
              -moz-border-radius: 200px 200px 200px 200px;
              -webkit-border-radius: 200px 200px 200px 200px;
              border: 4px solid @redDark;


              [class^="icon-"]:before, [class*=" icon-"]:before {

                line-height: 1em;
                margin: 21px;
                font-size: 50px;
                color: @redDark;
              }
            }
          }

          h3.title
          {
            text-align: center;
            color: @blueLight;
          }

          p.description
          {
            width: 86%;
            margin-left: 7%;
            margin-right: 7%;
            line-height: 16px;
            color: @blueLight;
            height: 50px;
          }

          .background-holder
          {

            width: 100%;
            height: 100px;
            overflow: hidden;
            margin-top: 39px;
            text-align: center;

            border-radius: 0px 0px 10px 10px;
            -moz-border-radius: 0px 0px 10px 10px;
            -webkit-border-radius: 0px 0px 10px 10px;





          }

          #innovation-signup
          {
            background: url(/img/innovation-bg.png) -45px -20px no-repeat;
          }

          #marketing-signup
          {
            background: url(/img/marketing-bg.png) -55px 0px no-repeat;
          }

          #customer-service-signup
          {
            background: url(/img/customer-service-bg.png  ) -25px 0px no-repeat;
          }



        }

      }


    }

    /* SEGMENT DASHBOARDS *////////////////////////////////////////////////////////

    #home-section
    {
      margin-left: 293px;
      margin-top: 10px;
      position: absolute;
      width: calc(~'100% - 600px');

      h2
      {
        text-align: center;
        margin-bottom: 30px;
        color: @blueLight;
      }


      .segment-fields
      {

        margin-bottom: 20px;


        input[type=text]
        {

          background: @darkPurple;
          border: 1px solid @lightPurple;
          color: @blueLight;

        }



        input[type=text]::-webkit-input-placeholder
        {
          color:    #5d2ad4;
        }


        input[type=text]:-moz-placeholder
        {
          color:    #5d2ad4;
        }


        input[type=text]::-moz-placeholder
        {
          color:    #5d2ad4;
        }


        input[type=text]:-ms-input-placeholder
        {
          color:    #5d2ad4;
        }





        textarea::-webkit-input-placeholder
        {
          color:    #5d2ad4;
        }


        textarea:-moz-placeholder
        {
          color:    #5d2ad4;
        }


        textarea::-moz-placeholder
        {
          color:    #5d2ad4;
        }


        textarea:-ms-input-placeholder
        {
          color:    #5d2ad4;
        }




        textarea
        {
          background: @darkPurple;
          border: 1px solid @lightPurple;
          color: @blueLight;
        }
      }

      #segment-container
      {
        width: 100%;
        height: auto;
        position: absolute;
        text-align: justify;

        .stretch
        {
          width: 100%;
          display: inline-block;
          font-size: 0;
          line-height: 0;
        }


        .segments
        {

          border: 1px solid @lightPurple;
          display: inline-block;
          zoom: 1;
          color: #2A1C6E;
          background: #fff;
          width: 320px;
          height: 370px;

          border-radius: 10px 10px 10px 10px;
          -moz-border-radius: 10px 10px 10px 10px;
          -webkit-border-radius: 10px 10px 10px 10px;
          border: 0px none #000000;


          -webkit-box-shadow: 0px 0px 114px -25px rgba(125,56,235,1);
          -moz-box-shadow: 0px 0px 114px -25px rgba(125,56,235,1);
          box-shadow: 0px 0px 114px -25px rgba(125,56,235,1);


          .segment-border
          {
            width: 100%;
            height: 320px;
            background: #170D43;
            border: 1px solid @lightPurple;
            -webkit-box-shadow: 0px 29px 57px -30px rgba(0,0,0,1);
            -moz-box-shadow: 0px 29px 57px -30px rgba(0,0,0,1);
            box-shadow: 0px 29px 57px -30px rgba(0,0,0,1);
          }



          .segment-header
          {

            background: @blueDark;
            height: 40px;
            padding: 0;
            text-align: center;
            color: @blueLight;
            line-height: 43px;
            text-transform: uppercase;
            font-size: 13px;

            .help
            {
              border: 1px solid @lightPurple;
              border-radius: 50px;
              width: 25px;
              height: 25px;
              list-style: none;
              color: @blueLight;
              float: left;
              margin: 8px 10px 10px 10px;
              position: absolute;



              [class^="icon-"]:before, [class*=" icon-"]:before {

                text-align: center;
                /* opacity: .8; */
                font-variant: normal;
                text-transform: none;
                line-height: 1em;

                font-size: 12px;
                vertical-align: 10px;
                //text-shadow: 3px 3px 1px rgba(224, 91, 112, 0.3);
                color: @blueLight;
              }
            }

            .title
            {
              text-align: center;
            }


          }

          .segment-preborder
          {
            width: 100%;
            height: 20px;
            background: #170D43;
          }

          .segment-visual-container
          {
            height: 238px;
            border-top: 1px solid @redDark;
            width: 280px;
            margin: 0 auto;
            overflow: hidden;

            background: rgba(104,54,158,1);
            background: -moz-linear-gradient(top, rgba(104,54,158,1) 0%, rgba(36,20,69,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(104,54,158,1)), color-stop(100%, rgba(36,20,69,1)));
            background: -webkit-linear-gradient(top, rgba(104,54,158,1) 0%, rgba(36,20,69,1) 100%);
            background: -o-linear-gradient(top, rgba(104,54,158,1) 0%, rgba(36,20,69,1) 100%);
            background: -ms-linear-gradient(top, rgba(104,54,158,1) 0%, rgba(36,20,69,1) 100%);
            background: linear-gradient(to bottom, rgba(104,54,158,1) 0%, rgba(36,20,69,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68369e', endColorstr='#241445', GradientType=0 );


            -webkit-box-shadow: 0px -34px 0px -28px rgba(255,255,255,0.20);
            -moz-box-shadow: 0px -34px 0px -28px rgba(255,255,255,0.20);
            box-shadow: 0px -34px 0px -28px rgba(255,255,255,0.20);
          }

          .footer
          {
            margin: 20px 0 0 0px;
            height: 40px;

            .datetime
            {
              margin: 14px 0 0 5px;
              float: left;

              [class^="icon-"]:before, [class*=" icon-"]:before {

                text-align: center;
                /* opacity: .8; */
                font-variant: normal;
                text-transform: none;
                line-height: 1em;

                font-size: 16px;
                //text-shadow: 3px 3px 1px rgba(224, 91, 112, 0.3);
                color: @red;
              }

              div
              {
                margin: -18px 0 0 25px;
                font-size: 11px;
                color: @red;
              }


            }

          }



        }

      }


    }



    /* CUSTOMER SERVICE *//////////////////////////////////////////////////////////

    #customer-service-section
    {

      margin-left: 217px;
      margin-top: 10px;
      position: absolute;
      width: calc(~'100% - 435px');


      h2
      {
        text-align: center;
        margin-bottom: 30px;
        color: @blueLight;
      }

      .complaint-stream-header-container
      {
        margin-top: 0px;
        width: calc(~'100% - 8px');


        .complaint-stream-header
        {
          background: #ddd;
          width: 900px;
          margin: 0 auto;
          padding: 0;
          height: 40px;

          border-radius: 10px 10px 0px 0px;
          -moz-border-radius: 10px 10px 0px 0px;
          -webkit-border-radius: 10px 10px 0px 0px;
          border: 0px solid #000000;



          li
          {
            list-style: none;
            float: left;
            text-align: center;
            font-weight: bold;
            padding-top: 9px;
            color: @blueMedDark;

          }

          li.name
          {
            width: 27%;

          }
          li.source
          {
            width: 5%;
          }
          li.date
          {
            width: 16%;
          }
          li.content
          {
            width: 36%;
          }
          li.respond
          {
            width: 16%;
          }

        }
      }



      .scrollbar
      {
        margin: 0 auto;
        width: 960px;
        height: 600px;
        overflow-y: auto;
        overflow-x: hidden;

        ul
        {
          margin: 0;
          padding: 0;
        }

        .post-container
        {
          width: 900px;
          height: 80px;
          background: rgba(36,20,69,1);
          background: #fff;
          margin: 0 auto;
          border-bottom: 1px solid lightgrey;

          /*
          border-radius: 10px 10px 10px 10px;
          -moz-border-radius: 10px 10px 10px 10px;
          -webkit-border-radius: 10px 10px 10px 10px;
          border: 0px solid #000000;
          */

          .sentiment-holder-red
          {
            width: 5px;
            height: inherit;
            background: @red;
            float: left;
          }

          .sentiment-holder-green
          {
            width: 5px;
            height: inherit;
            background: darkgreen;
            float: left;
          }


          .pic-holder
          {
            width: 80px;
            height: inherit;
            float: left;

            .pic
            {
              width: 40px;
              height: 40px;
              margin: 18px 18px;
              overflow: hidden;

              border-radius: 200px 200px 200px 200px;
              -moz-border-radius: 200px 200px 200px 200px;
              -webkit-border-radius: 200px 200px 200px 200px;
              border: 1px solid @red;

              img
              {
                width: 42px;
              }

            }

          }

          .name-holder
          {
            float: left;
            width: 200px;
            height: inherit;
            line-height: 75px;
            font-size: 12px;

            span
            {
              color: @blueLight;
              line-height: 0px;
              margin-top: -22px;
              display: block;
            }
          }


          .source-holder
          {
            float: left;
            width: 20px;
            height: inherit;

            [class^="icon-"]:before, [class*=" icon-"]:before {
              width: 100%;
              text-align: center;
              font-variant: normal;
              text-transform: none;
              line-height: 3.3em;
              margin-left: 0;
              font-size: 23px;
              color: @blueLight;
              height: 73px;

            }

          }


          .date-holder
          {
            float: left;
            width: 170px;
            height: inherit;
            line-height: 75px;
            color: dimgrey;
            text-align: center;
            font-size: 12px;
          }

          .text-holder
          {
            float: left;
            width: 300px;
            height: inherit;
            padding: 5px;
            color: dimgrey;
            font-size: 11px;
            overflow-y: auto;
            overflow-x: hidden;
          }

          .response-holder
          {
            float: left;
            height: inherit;

            a
            {
              margin: 20px 0 0 20px;
            }

          }

        }




      }

      /* customize scrollbar css */
      #scrollbar-custom::-webkit-scrollbar{
        width:10px;
        background-color: @darkPurple;
      }
      #scrollbar-custom::-webkit-scrollbar:horizontal{
        height:12px;
      }
      #scrollbar-custom::-webkit-scrollbar-track{
        border:1px @blueDark solid;
        border-radius:10px;
        -webkit-box-shadow:0 0 10px @blueLight inset;
      }
      #scrollbar-custom::-webkit-scrollbar-thumb{
        background-color: @blueDark;
        border:1px solid @blueMed;
        border-radius:16px;
      }
      #scrollbar-custom::-webkit-scrollbar-thumb:hover{
        background-color:@blueMed;
        border:1px solid @blueLight;
      }
      #scrollbar-custom::-webkit-scrollbar-thumb:active{
        background-color: @blueLight;
        border:1px solid @blueLight;
      }



    }




  }
}