<div id="header-section">
    <ng-include src="'/app/header/header.view.html'"></ng-include>
</div>
<div id="leftNav-section">
    <ng-include src="'/app/leftNavigation/leftNavigation.view.html'"></ng-include>
</div>

<div id="create-dashboard-section">

    <h2>Create New Dashboard</h2>

    <div class="segment-fields">
        <input type="text" class="form-control" placeholder="Enter Dashbaord Name">
    </div>

    <div class="segment-fields">
        <textarea class="form-control" rows="6" placeholder="Add filter words or phrases here sepearated by commas"></textarea>
    </div>



    <div id="signup-container">



        <span class="signups">

            <div class="icon-holder">

                <div class="signup-icon">

                    <i class="icon-lamp"></i>

                </div>

            </div>

            <h3 class="title">Innovation</h3>

            <p class="description">
                Search for new opportunities and get insight on conversations to produce new services and products.
            </p>

            <div class="background-holder" id="innovation-signup"><a class="btn btn-default" ng-href="/#/innovation" role="button">Create</a></div>

        </span>


        <span class="signups">

            <div class="icon-holder">

                <div class="signup-icon">

                    <i class="icon-megaphone"></i>

                </div>

            </div>

            <h3 class="title">Marketing</h3>

            <p class="description">
                Track campaigns, competitors and brand health. Recognize different demographics to better target your product or service.
            </p>

            <div class="background-holder" id="marketing-signup"><a class="btn btn-default" ng-href="/#/marketing" role="button">Create</a></div>

        </span>





        <span class="signups">

            <div class="icon-holder">

                <div class="signup-icon">

                    <i class="icon-chat"></i>

                </div>

            </div>

            <h3 class="title">Customer Service</h3>

            <p class="description">
                Monitor customer complaints, user retention and opportunities against competitors. Interact with customers real-time.
            </p>

            <div class="background-holder" id="customer-service-signup"><a class="btn btn-default" ng-href="/#/customer-service" role="button">Create</a></div>

        </span>








        <span class="stretch"></span>
    </div>

</div>

<div id="rightNav-section">
    <ng-include src="'/app/bookmarks/bookmarks.view.html'"></ng-include>
</div>


<!--

<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>



-->