<div id="header-section" ng-controller="CreateDashboardController">
    <ng-include src="'/app/header/header.view.html'"></ng-include>
</div>
<div id="leftNav-section">
    <ng-include src="'/app/leftNavigation/leftNavigation.view.html'"></ng-include>
</div>

<div id="home-section">

    <h2>Create New Dashboard</h2>

    <div class="segment-fields">
        <input type="text" class="form-control" placeholder="Enter Dashbaord Name">
    </div>

    <div class="segment-fields">
        <textarea class="form-control" rows="6" placeholder="Add filter words or phrases here sepearated by commas"></textarea>
    </div>



    <div id="segment-container">



        <span class="segments">

            <div class="segment-border">

                <div class="segment-header">
                    <div class="help"><i class="icon-help"></i></div>
                    <div class="title">Gender</div>
                </div>

                <div class="segment-preborder"></div>
                <div class="segment-visual-container" id="piechart"></div>
                <div class="footer">
                    <div class="datetime"><i class="icon-clock"></i><div>Apr 14, 2017 - 4:34:43PM</div></div>
                </div>
            </div>

        </span>


        <span class="segments">

            <div class="segment-border">
                <div class="segment-header">
                    <div class="help"><i class="icon-help"></i></div>
                    <div class="title">Gender</div>
                </div>

                <div class="segment-preborder"></div>
                <div class="segment-visual-container" id="barchart"></div>
                <div class="footer">
                    <div class="datetime"><i class="icon-clock"></i><div>Apr 14, 2017 - 4:34:43PM</div></div>
                </div>
            </div>

        </span>


        <span class="segments">

            <div class="segment-border">
                <div class="segment-header">
                    <div class="help"><i class="icon-help"></i></div>
                    <div class="title">Gender</div>
                </div>

                <div class="segment-preborder"></div>
                <div class="segment-visual-container" id="linechart"></div>
                <div class="footer">
                    <div class="datetime"><i class="icon-clock"></i><div>Apr 14, 2017 - 4:34:43PM</div></div>
                </div>
            </div>
        </span>




        <span class="stretch"></span>
    </div>

</div>

<div id="rightNav-section">
    <ng-include src="'/app/bookmarks/bookmarks.view.html'"></ng-include>
</div>


<!--

<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>



-->