<div id="header-section">
    <ng-include src="'/app/header/header.view.html'"></ng-include>
</div>
<div id="leftNav-section">
    <ng-include src="'/app/leftNavigation/leftNavigation.view.html'"></ng-include>
</div>

<div id="customer-service-section">

    <h2>Customer Service - Maxwell Ford</h2>


    <!-- Header  -->


    <!-- complaint-stream -->
    <div class="complaint-stream-header-container">
        <div class="complaint-stream-header">
            <ul>
                <li class="name"> Name</li>
                <li class="source">Source</li>
                <li class="date">Date</li>
                <li class="content">Content</li>
                <li class="respond">Contact</li>
            </ul>
        </div>
    </div>

    <div class="scrollbar" id="scrollbar-custom">

            <div class="post-container" data-ng-repeat="item in items">

                <div ng-class="item.score > 0 ? 'sentiment-holder-green' : 'sentiment-holder-red'"></div>

                <div class="pic-holder">
                    <div class="pic"><img ng-src="{{item.user.profile_image_url}}" /> </div>
                </div>

                <div class="name-holder">{{item.user.name}} <span>{{item.user.screen_name}}</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">{{item.created_at | date:'EEE M/d/yy h:mm a' : 'UTC-5'}}</div>

                <div class="text-holder">

                    {{item.text}}

                </div>

                <div class="response-holder">
                    <a class="btn btn-success" ng-href="{{item.postURL || 'jaime'}}" target="_blank" role="button">Respond</a>
                </div>

            </div>














    </div>


</div>

<div id="rightNav-section">
    <ng-include src="'/app/bookmarks/bookmarks.view.html'"></ng-include>
</div>


<!--

<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>



-->