<div id="header-section" ng-controller="CustomerServiceController">
    <ng-include src="'/app/header/header.view.html'"></ng-include>
</div>
<div id="leftNav-section">
    <ng-include src="'/app/leftNavigation/leftNavigation.view.html'"></ng-include>
</div>

<div id="customer-service-section">

    <h2>Customer Service - Maxwell Ford</h2>


    <!-- Header  -->


    <!-- complaint-stream -->

    <div class="complaint-stream-header">
        <ul>
            <li class="name">Author Name</li>
            <li class="source">Source</li>
            <li class="date">Date</li>
            <li class="content">Content</li>
            <li class="respond">Contact</li>
        </ul>
    </div>

    <div class="scrollbar" id="scrollbar-custom">

        <ul>
            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>



            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>




            <div class="post-container">

                <div class="sentiment-holder"></div>

                <div class="pic-holder">
                    <div class="pic"><img src="/img/twitter-profile.jpg" /> </div>
                </div>

                <div class="name-holder">doc holliday <span>@kielman43</span></div>

                <div class="source-holder">

                    <i class="icon-twitter"></i>

                </div>

                <div class="date-holder">Apr 14, 2017 8:47:23AM</div>

                <div class="text-holder">

                    Have you seen the new dodge demon?? Dear god, American muscle cars are back!!  @Dodge
                    Ford better wake up. Your R/D team sucks @Ford

                </div>

                <div class="response-holder">
                    <button type="button" class="btn btn-success">Respond</button>
                </div>

            </div>








        </ul>

    </div>


</div>

<div id="rightNav-section">
    <ng-include src="'/app/bookmarks/bookmarks.view.html'"></ng-include>
</div>


<!--

<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>



-->