
<div id="header-section">
    <ng-include src="'/app/header/header.view.html'"></ng-include>
</div>
<div id="leftNav-section">
    <ng-include src="'/app/leftNavigation/leftNavigation.view.html'"></ng-include>
</div>

<!--<form name="form" method="post" enctype="multipart/form-data" action="api/twitter-publish" role="form" class="form">-->
<form ng-submit="submitForm()">

<div id="create-dashboard-section">

    <h2>Publish Marketing Campaign</h2>



    <div class="segment-fields">
        <input type="text" class="form-control" placeholder="Enter Title of Campaign"  ng-model="user.title" name="title">
    </div>

    <div class="segment-fields">
        <textarea class="form-control" rows="6" placeholder="Type in content here..." ng-model="user.content" name="content"></textarea>
    </div>


    <div class="segment-fields">



        <div class="form-group" id="publish-image-container">

            <input id="publish-image" class="file"  type="file" name="publish_image" placeholder="Upload Image">
            <script>
                $("#publish-image").fileinput({
                    allowedFileExtensions: ["png", "jpeg", "gif", "jpg"],
                    showUpload: false,
                    maxFileSize: 3000
                })
            </script>




        </div>

        <div class="form-group" id="publish-video-container">
            <input  type="file" id="publish-video" class="file" name="publish_video" placeholder="Upload Video" ng-model="user.video">

            <script>
                $("#publish-video").fileinput({
                    allowedFileExtensions: ["avi", "mov", "mp4"],
                    showUpload: false,
                    dropZoneTitle: "Drag and drop videos here"
                })
            </script>

        </div>

        <div class="form-group">

            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>

        </div>


    </div>



</div>

</form>

<div id="rightNav-section">
    <ng-include src="'/app/bookmarks/bookmarks.view.html'"></ng-include>
</div>
